.series_overview_row {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.series_overview_icon {
    width: 25px;
    margin: 5px;
    margin-right: 0px;
}

.series_overview_text {
    margin-left: 5px;
}

.series_overview_series_title {
    margin-left: 5px;
    font-weight: bold;
}

.series_overview_icon_scaled {
    transform: scale(5) translateX(50%);
    -ms-transform: scale(5) translateX(50%); /* IE 9 */
    -webkit-transform: scale(5) translateX(50%); /* Safari 3-8 */
    position: absolute;
    z-index: 10;
}