.series_overview_row {
    display: flex;
    align-items: center;
}

.series_overview_icon {
    width: 25px;
    margin: 5px;
    margin-right: 0px;
    transition: transform .2s; /* Animation */
}

.series_overview_text {
    margin-left: 5px;
}

.series_overview_series_title {
    margin-left: 5px;
    font-weight: bold;
}

.series_overview_icon:hover {
    transform: scale(1) translate(50%, 50%);
    -ms-transform: scale(7) translate(50%, 50%); /* IE 9 */
    -webkit-transform: scale(7) translate(50%, 50%); /* Safari 3-8 */
}